@using Microsoft.AspNetCore.Http;
@model List<Formulario>
@{
    ViewData["Title"] = "Sua cotação";
}
<h1>@ViewData["Title"]</h1>

<br>
<h1>TABELA DE VALORES</h1>
<br>
<h2>PLANO OURO</h2>
<p>individual - R$70,00</p>
<p>frota - R$55,00</p>
<p>taxa de instalação - R$150,00</p>
<h3>FUNÇÕES E ASSISTÊNCIAS INCLUSAS</h3>
<p>equipamento em comodato</p>
<p>conexão via internet</p>
<p>acompanhe seu veículo 24h online</p>
<p>histórico de monitoramento</p>
<p>relatório de trajeto</p>
<p>relatório de KM</p>
<p>cerca virtual</p>
<p>alerta de velocidade</p>
<p>assistência 24h vide regulamento</p>
<p>reboque de 400KM</p>
<p>socorro eletrico e mecânico</p>
<p>reboque do veículo em caso de pane</p>
<p>reboque do veículo em caso de acidente, furto ou roubo</p>
<p>troca de pneu</p>
<p>auxílio na falta de combustível</p>
<p>transporte alternativo</p>
<p>retorno ao domicílio</p>
<p>hospedagem</p>
<p>chaveiro</p>
<p>retorno ao veículo reparado</p>
<p>translado de corpos</p>
<br>
<h2>PLANO PRATA</h2>
<p>individual - R$55,00</p>
<p>frota - R$45,00</p>
<p>taxa de instalação - R$150,00</p>
<h3>FUNÇÕES E ASSISTÊNCIAS INCLUSAS</h3>
<p>equipamento em comodato</p>
<p>conexão via internet</p>
<p>acompanhe seu veículo 24h online</p>
<p>histórico de monitoramento</p>
<p>relatório de trajeto</p>
<p>relatório de KM</p>
<p>cerca virtual</p>
<p>alerta de velocidade</p>
<br>
<p>desconto na mensalidade para pagamentos no cartão de crédito R$5,00 (cinco reais) por veículo</p>
<p>frota se dá a partir de 3 veículos</p>